@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');
*,
*:before,
*:after{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Unbounded', cursive;
    color:white;
}
body{
    background-image: url('bg01.png');
    background-repeat: no-repeat;
    background-color: rgb(10, 10, 10);
}
.cont{
    display: grid;
    place-items: center;
    align-content: center;
    padding:15% 0;
}
p{
    color:rgb(150, 150, 150);
    width:40%;
}
.headerp{
    margin-bottom: 5em;
}
h1,h2,h3,h4,h5,h6{
    width:50%;
    text-align: center;
    padding:1em 0;
}
.btn{
    color:black;
    background-color: white;
    border:1px solid white;
    border-radius:0.3em;
    text-decoration: none;
    padding:0.5em 1.5em;
    margin:2em;
    transition: 0.2s;
}
.btn:hover{
    color:white;
    background-color:rgb(27, 27, 27);
}
.wrapper{
    display: grid;
    grid-template-columns: 15em 15em 15em;
    grid-gap: 5em;
}
.wrapperp{
    margin-top:3em;
}
.game{
    background-color: rgb(43, 43, 43);
    border-radius: 1em;
    text-align: center;
    height:20em;
    padding:0.5em;
    transition: 0.2s;
}
.game:hover{
    background-color: rgb(66, 66, 66);
}
footer{
    background-image: url('bg02.png');
}